.header {
  background: var(--background-header);
  max-width: 100%;
}
.container {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}
.header svg {
  padding: 25px;
}

.header-menu {
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.header-menu a {
  color: var(--header-text-color);
  font-size: 1.2rem;
  display: inline-block;
  padding: 16px 0;
  position: relative;
}

.header-menu a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  margin-top: 4px;
  background-color: #ffffff;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    gap: 20px;
  }

  .header-menu a:after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }
}

@media (max-width: 600px) {
  .container {
    justify-content: center;
  }

  .header-menu {
    gap: 12px;
    padding: 0;
    justify-content: center;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
