#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  border-radius: 5px 0 0 5px;
  background: var(--cor-12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.orcamento-produto label {
  font: 400 1rem/1.5 'Poppins', sans-serif;
  color: var(--cor-4);
  background-color: var(--cor-10);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--cor-10);
}

.orcamento-produto label:hover {
  background-color: var(--cor-9);
  border-color: var(--cor-9);
}

.orcamento-produto input:focus + label {
  background-color: var(--cor-9);
  box-shadow: 0 0 0 2px var(--cor-p1);
  border-color: var(--cor-12);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
}

.orcamento-produto input[type='radio'] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-produto input:checked + label {
  background: var(--cor-0);
  color: var(--cor-11);
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-dados {
  border-radius: 0 5px 5px 0;
  background: var(--cor-0);
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

.orcamento-detalhes {
  background: var(--cor-0);
  padding: 20px;
  display: none;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  align-items: center;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.orcamento-detalhes li img {
  width: 16px;
  margin-right: 8px;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }

  .orcamento-dados {
    border-radius: 0 0 5px 5px;
  }

  .orcamento-produto {
    border-radius: 5px 5px 0 0;
  }
}

@media (max-width: 400px) {
  .orcamento-produto {
    grid-template-columns: 1fr;
  }
}
